.main-sticky-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(247, 224, 52, 97);
  border-radius: 15px;
}
.sticky-menu {
  width: 100%;
  height: 30px;
  background: rgba(237, 196, 50, 93);
  border-radius: 15px 15px 0px 0px;
}

.sticky-content {
  height: 100%;
  width: 100%;
}

.menu-icon {
  width: 15px;
  margin: 6px;
}
